#search
  = form_tag phrasing_phrases_path, method: :get do
    - locale_options = options_for_select(accessible_edit_locales.map{|l| [l,l]}, params[:locale])
    = select_tag 'locale', locale_options
    = text_field_tag :search, params[:search], placeholder: 'Search for keys or values', size: 40
    = submit_tag 'Search', class: "btn btn-success"
    = link_to 'Download', download_phrasing_phrases_path(search: params[:search], locale: params[:locale]), class: 'btn btn-success'

- if @phrasing_phrases.any?
  %table.all-phrases
    %thead
      %tr
        %th Key
        %th Value
        %th Preview
    %tbody
      - @phrasing_phrases.each do |t|
        %tr
          %td.key{style: "width: 20%", onclick: "document.location = '/#{Phrasing.route}/#{t.id}/edit'"}
            = link_to edit_phrasing_phrase_path(t) do
              = t.key
          %td.value{style: "width: 50%", onclick: "document.location = '/#{Phrasing.route}/#{t.id}/edit'"}
            = t.value.try(:html_safe)
          %td.Preview{style: "width: 30%"}
            = phrasing_preview_links(t.preview_links)
