

<div class="container">
  <div class="alert alert-dark filters">
     <%= form_tag phrasing_phrases_path, method: :get, class: "form-inline" do %>
        <% locale_options = options_for_select(accessible_edit_locales.map{|l| [l,l]}, params[:locale]) %>
          <div class="form-group">
            <%= select_tag 'locale', locale_options, class: "custom-select"  %>
          </div>
          <div class="form-group mx-sm-3">
            <!-- <label for="inputPassword2" class="sr-only">Password</label> -->
            <%= text_field_tag :search, params[:search], placeholder: 'Search for keys or values', class: 'form-control' %>
          </div>
          
          <%= submit_tag 'Search', class: "btn btn-primary mr-2" %>
          <%#= link_to 'Download', download_phrasing_phrases_path(search: params[:search], locale: params[:locale]), class: 'btn btn-success mb-2 mr-2' %>

      <% end %> 
  </div>
  <table class="table table-hover">
    <thead>
      <tr style="text-align: center;">
        <th scope="col"></th>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
        <th scope="col">Preview</th>
      </tr>
    </thead>
    <tbody>
    <% @phrasing_phrases.each_with_index do |t, index| %>
      <tr>
        <th scope="row"><%= index %></th>
        <td>
          <div style="width: 150px;word-break: break-all;padding-top: 8px;">
            <%= link_to t.key, edit_phrasing_phrase_path(t) %>
          </div>
        </td>
        <td>
          <%= form_for t, url: phrasing_phrase_path(t) do |f| %>
            <%= hidden_field_tag :new_value, t.value, id: "new_text-#{t.id}" %>
            <%= hidden_field_tag :klass, "PhrasingPhrase" %>
            <%= hidden_field_tag :attribute, 'value' %>

            <p id="<%= "phrase-#{t.id}" %>"
              data-textid="<%= "#new_text-#{t.id}" %>"
              data-url="<%= phrasing_phrase_path(t) %>" class="editable mb-0" 
              contenteditable="true">
              <%= t.value %>  
            </p>
          <% end %>
        </td>
        <td style="width: 200px;"><%= phrasing_preview_links(t.preview_links) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
