  <div class="alert alert-dark filters row">
    <%= form_tag phrasing_phrases_path, method: :get, class: "form-inline col-md-9 p-0" do %>
      <% locale_options = options_for_select(accessible_edit_locales.map(&:to_s).map{|l| [l,l]}, params[:locale]) %>
      <div class="form-group">
        <%= select_tag 'locale', locale_options, class: "custom-select"  %>
      </div>
      <div class="form-group mx-sm-3">
        <!-- <label for="inputPassword2" class="sr-only">Password</label> -->
        <%= text_field_tag :search, params[:search], placeholder: 'Search for keys or values', class: 'form-control' %>
      </div>
      
      <%= submit_tag 'Search', class: "btn btn-primary mr-2" %>
      <%#= link_to 'Download', download_phrasing_phrases_path(search: params[:search], locale: params[:locale]), class: 'btn btn-success mb-2 mr-2' %>
      <%= link_to_previous_page @phrasing_phrases, 'Previous Page', class: "btn btn-outline-primary mr-2" %>
      <%= link_to_next_page @phrasing_phrases, 'Next Page', class: "btn btn-outline-primary mr-2"  %>
      <% if @phrasing_phrases.present? %>
        <%= button_tag 'Request Go Live' , type: 'button', class: "btn btn-outline-success mr-2 float-right", 'data-path': request_go_live_phrasing_phrases_path(locale: params[:locale]), id: 'request-live'  %>
      <% end %>
    <% end %>
    <div class="col-md-3 p-0">
      <div class="progress mt-2" id="live-process-bar" style="display: none;">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" 
          role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
      </div>
      <p class="m-0 pt-2 text-center" id="rq-message" style="display: none;">Successfully Requested</p>
    </div>
  </div>
  <% if @phrasing_phrases.present? %>
    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr style="text-align: center;">
            <th scope="col"></th>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
            <th scope="col">Preview</th>
          </tr>
        </thead>
        <tbody>
          <% @phrasing_phrases.each do |t| %>
            <tr>
              <td>
                <div class="pt-2"><%= t.id %></div>
              </td>
              <td>
                <div style="width: 150px;word-break: break-all;padding-top: 8px;">
                  <%= t.key %>
                  <%#= link_to t.key, edit_phrasing_phrase_path(t) %>
                </div>
              </td>
              <td>
                <%= form_for t, url: phrasing_phrase_path(t) do |f| %>
                  <%= hidden_field_tag :new_value, t.value, id: "new_text-#{t.id}" %>
                  <%= hidden_field_tag :klass, "PhrasingPhrase" %>
                  <%= hidden_field_tag :attribute, 'value' %>
                  
                  <p id="<%= "phrase-#{t.id}" %>"
                    data-textid="<%= "#new_text-#{t.id}" %>"
                    data-url="<%= phrasing_phrase_path(t) %>"
                    class="editable mb-0"
                    contenteditable="true">
                    <%= t.value %>
                  </p>
                <% end %>
              </td>
              <td style="width: 200px;"><%= phrasing_preview_links(t.preview_links) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="row alert alert-warning">
      No Data available.
    </div>
  <% end %>